<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE properties SYSTEM "http://java.sun.com/dtd/properties.dtd">
<properties>


<entry key= "selectListCount">

SELECT
    COUNT(*) count
    FROM MEMBER

</entry>
<entry key = "selectList">
SELECT *
FROM(
SELECT ROWNUM RNUM, A.*
FROM(
    SELECT
     MEMBER_NO
    ,MEMBER_NAME
    ,MEMBER_ID
    ,MEMBER_PWD
    ,PHONE
    ,EMAIL
    ,NICKNAME
    ,STATUS
    ,ENROLL_DATE
    
FROM MEMBER

ORDER BY MEMBER_NO DESC
)A
)
WHERE RNUM BETWEEN ? AND ?

</entry>

<entry key = "updateMember">
UPDATE
		MEMBER
	SET MEMBER_NAME = ?
	   ,MEMBER_ID = ?
	   ,MEMBER_PWD = ?
	   ,PHONE =?
	   ,EMAIL =?
	   ,NICKNAME =?
	   ,STATUS =?
	   
 WHERE MEMBER_NO =?	


</entry>

<entry key = "selectListCountId">

SELECT
    COUNT(*) count
    FROM MEMBER
    WHERE MEMBER_ID LIKE '%' || ? || '%'
    
    
</entry>

<entry key = "selectListId">
SELECT *
FROM(
SELECT ROWNUM RNUM, A.*
FROM(
    SELECT
     MEMBER_NO
    ,MEMBER_NAME
    ,MEMBER_ID
    ,MEMBER_PWD
    ,PHONE
    ,EMAIL
    ,NICKNAME
    ,STATUS
    ,ENROLL_DATE
    
FROM MEMBER
WHERE MEMBER_ID LIKE '%' || ? || '%'
ORDER BY MEMBER_NO DESC
)A
)
WHERE RNUM BETWEEN ? AND ?
</entry>


</properties>